

<p>SERVER: {{servername}}</p>
<input type="text" 
    class="form-control" 
    (input)="onUpdateServerName($event)"
    >

    <p>SERVER: {{servername2}}</p>
    <input type="text" 
        class="form-control" 
        [(ngModel)]="servername2"
        >

<p *ngIf="create; else noserver"> ngif directive: created </p>
<ng-template #noserver></ng-template>
<button class="btn btn-primary" 
    [disabled]="!allowNewServer" 
    [innerText]="'test'" 
    (click)="onCreateServer()"> Add server</button>


<!-- <p>checking: {{allowNewServer}}</p> -->
<p>{{serverCreationStatus}}</p>

<app-server *ngFor="let server of servers"></app-server><br>
